name = "GG"
uuid = "6b9d7cbe-bcb9-11e9-073f-15a7a543e2eb"
authors = ["thautwarm"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
